/* #h11
{
    color: blueviolet;
} */
.cardContainer{
    margin-left: 16%;
}
.card{
    align-items: center;
    height: 100px;
    width: 200px;
    margin-right: 30px;
    padding-top: 10px;
    border-radius: 15px;
}
.cardCaisse{
    align-items: center;
    height: 150px;
    width: 1000px;
    padding-top: 10px;
    border-radius: 15px;
    /* margin-right: -100px; */
}
.fourniss{
    color: blueviolet ;
}
.proje
{
    color: blueviolet;
}
.caiss{
    color: blueviolet;
}
.valContainer{
    padding: 10px;
    text-align: center;

}
.val{
    font-size: large;
    color: rgb(97, 94, 94);
    width: 120px;
}
.justified{
    color: green;
}
.nonJustified{
    color:red;
}
.total{
    color: blue;
}

.chartContainer{
    margin-left: 16%;
    margin-top: 30px;
}
.chart3{
    margin-top: 15px;
}
